# Vim swap files
*.swp

# Local binary paths
zsh/config/paths.zsh

# Private keys etc.
zsh/config/.private.zsh

# Environment-specific Vim config
vim/config/.environment.vim

# Netrw History file
vim/.netrwhist

# Ignore Vim spell files
vim/spell/
