\documentclass[norsk, 10pt, a4paper]{article}
\usepackage{babel}
\usepackage[utf8]{inputenc}
\usepackage[T1]{fontenc}

\author{${2:Sindre Moen\\\texttt{moesin09@nith.no}}}
\title{${1:Tittel på dokumentet}

\begin{document}



\end{document}
