snippet <
<${1:tag-name}>
	${0:${VISUAL}}
</$1>
endsnippet

snippet hi
<link rel="import" href="${1:.}/${2:component-name}/${3:$2}.html" />
endsnippet

snippet dmod
<dom-module id="${1:module-id}">
	<template>
		<style>
		</style>

		${0}
	</template>

	<script>
		Polymer({
			is: '$1',
		});
	</script>
</dom-module>
endsnippet
