${1:public} class ${2:ClassName} {

    // --- INSTANCE VARIABLES --------------------------------------------------


    // --- COSNTRUCTORS --------------------------------------------------------


    // --- SETTERS AND GETTERS -------------------------------------------------


    // --- PUBLIC METHODS ------------------------------------------------------


    // --- PRIVATE METHODS -----------------------------------------------------


} // end class $2
